/* Global */
*
{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Roboto Condensed', sans-serif;
}

body
{
    min-height: 100%;
}

/* Modification image menu hamburger */
.navbar.navbar-1 .navbar-toggler-icon
{
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}

li
{
    list-style-type: none;
}


/* background */

#accueil, #connexion, #inscription, #validation, #resultat
{
   background-image: url("../image/fond/ocean4.jpg");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

#register
{
    background-image: url("../image/fond/ocean3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#login
{
    background-image: url("../image/fond/ocean.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#compte
{
    background-image: url("../image/fond/ocean1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#vol
{
    background-image: url("../image/fond/vol.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#france
{
   background-image: url("../image/pays/france/fond1.jpg");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

#admin
{
    background-color: #326480;
}

/* Validation formulaire */
.incorrect
{
    border: 2px solid red;
}

.correct
{
    border: 3px solid green;
}

.cache
{
    display: none;
}

/* menu header */

header
{
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
}

.menu
{
   background-color: #26495c;
   border-radius: 3px;
}

.card-img-top
{
    max-height: 216px;
}

.bg-info, .card
{
   background-color: #26495c;
}

a:link, button
{
 text-decoration:none;
}

a:hover, .text-white
{
    color: #22afb9;
}

a, .lien
{

    color: rgb(245, 245, 245);
}

/* Pays */

.imagePays
{
   width: 529px;
   height: 470px;
   padding: 0;
   border-radius: 5px;
}


.card-body, .btn-link
{
    color: white;
}
/* Register */

label
{
    color: whitesmoke;
    margin-top: 10px;
}

.compte div h1
{
   font-size: 25px;
   border-bottom: 1px groove;
}

.pseudo
{
    font-size: 30px;
}

.avatar
{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatarCompte
{
    vertical-align: middle;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.formPays
{
    background-color: rgb(146, 96, 96);
    border: 3px solid black;
}

/* Comparateur */

.comparateur
{
   height:600px;
   width: 600px;
}

@media all and (max-width: 580px)
{
    .comparateur
    {
       height:400px;
       width: 300px;
    }
}

/* formulaire de recherche */

.cadre
{
   background-color: #26495c;
   margin: 80px auto;
   min-width: 350px;
   padding: 20px;
   color: whitesmoke;
   border-radius: 5px;
}

/* footer */


footer
{
    background-color: #26495c;
    margin-top: 80px;
    border-radius: 5px;
    color: whitesmoke;
}

.reset
{
    font-size: 20px;
    color: white;
}


/* flex */

.flex
{
   display: flex;
}

.row
{
    flex-direction: row;
}

.column
{
   flex-direction: column;
}

.wrap
{
   flex-wrap: wrap;
}

.justif-between
{
   justify-content: space-between;
}

.justif-around
{
   justify-content: space-around;
}

.justif-evenly
{
   justify-content: space-evenly;
}

.centre
{
    align-items: center;
    display: flex;
    justify-content: center;
}


